src/main/mule/cham-orders-integration-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit
		http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

	<apikit:config name="cham-orders-integration-api-config"
		api="cham-orders-integration-api.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />

	<flow name="cham-orders-integration-api-main">
		<http:listener
			config-ref="cham-orders-integration-api-httpListenerConfig"
			path="${http.basePath}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[
                    (vars.outboundHeaders default {})
                    ++ { "X-Correlation-ID": correlationId }
                ]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[
                    (vars.outboundHeaders default {})
                    ++ { "X-Correlation-ID": correlationId }
                ]</http:headers>
			</http:error-response>
		</http:listener>

		<apikit:router config-ref="cham-orders-integration-api-config" />

		<error-handler ref="order-sync-global-error-handler" />
	</flow>

	<flow name="cham-orders-integration-api-console">
		<http:listener
			config-ref="cham-orders-integration-api-httpListenerConfig"
			path="${http.consolePath}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[
                    (vars.outboundHeaders default {})
                    ++ { "X-Correlation-ID": correlationId }
                ]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[
                    (vars.outboundHeaders default {})
                    ++ { "X-Correlation-ID": correlationId }
                ]</http:headers>
			</http:error-response>
		</http:listener>

		<apikit:console config-ref="cham-orders-integration-api-config" />

		<error-handler ref="order-sync-global-error-handler" />
	</flow>

	<flow
		name="post:\order-sync:application\json:cham-orders-integration-api-config">
		<flow-ref doc:name="Process order synchronization"
			name="process-order-sync-subflow" />
	</flow>
</mule>
